:root {
  /* Primary Colors */

  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-dar-cyan: hsl(179, 100%, 13%);

  /* Secondary Colors */
  --clr-transp-white: hsla(0, 0%, 100%, 0.75); /* Paragraphs */
  --clr-light-gray: hsl(0, 0%, 95%); /* Bg, Headings, Buttons */

  /* Others */

  --ff-body: "Lexend Deca", sans-serif;
  --ff-headings: "Big Shoulders Display", cursive;

  --fs-regular: 0.9375rem; /* 15px */
  --fs-xxl: 2.5rem; /* 40px */

  --fw-regular: 400;
  --fw-bold: 700;

  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;

  /* Desktop */
  /* text to border left/top/bottom(& kinda right) 3rem 48px */
  /* svg to top border 3rem 48px */
  /* heading to svg 35px 2.1875rem */
  /* paragraph to heading 25px 1.5625rem */
  /* Button to paragraph 83px 5.1875rem */
  /* Button brd-radius 25px 1.5625rem */
  /* Card brd-rad 8px 0.5rem */

  /* Mobile */
  /* Button to paragraph 25px 1.5625rem */
}
