:root {
  /* Primary Colors */

  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-dark-cyan: hsl(179, 100%, 13%);

  /* Secondary Colors */
  --clr-transp-white: hsla(0, 0%, 100%, 0.75);
  /* Paragraphs */
  --clr-light-gray: hsl(0, 0%, 95%);
  /* Bg, Headings, Buttons */

  /* Others */

  --ff-body: "Lexend Deca", sans-serif;
  --ff-headings: "Big Shoulders Display", cursive;

  --fs-regular: 0.9375rem;
  /* 15px */
  --fs-xxl: 2.5rem;
  /* 40px */

  --fw-regular: 400;
  --fw-bold: 700;

  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;

  --max-width-mobile: 35rem;
  --max-width-desktop: 57.5rem;
}

/* Global Styles */

body {
  min-height: 100vh;
  background-color: var(--clr-light-gray);
  padding: 5.5rem 1.5rem;
  display: grid;
  place-content: center;
  font-family: var(--ff-body);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-light-gray);
}

/* Utility Styles */

.bg-orange {
  background-color: var(--clr-orange);
}

.text-orange {
  color: var(--clr-orange);
}

.bg-cyan {
  background-color: var(--clr-cyan);
}

.text-cyan {
  color: var(--clr-cyan);
}

.bg-dark-cyan {
  background-color: var(--clr-dark-cyan);
}

.text-dark-cyan {
  color: var(--clr-dark-cyan);
}

/* Card Styles */

.card {
  max-width: var(--max-width-mobile);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: var(--spacing-xs);
  overflow: hidden;
}

.card__sections {
  padding: 3rem;
  display: grid;
  gap: 1.5rem;
  /* ---- Test if matches the design ---- */
}

.card_sections_heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xxl);
  text-transform: uppercase;
}

.card_sections_description {
  color: var(--clr-transp-white);
}

.button {
  border: none;
  border-radius: 1.5625rem;
  /* 25px */
  width: fit-content;
  padding: var(--spacing-s) var(--spacing-l);
  cursor: pointer;
  background-color: var(--clr-light-gray);
}

.button:is(:hover, :focus) {
  background-color: transparent;
  border: solid var(--clr-light-gray) 2px;
  color: var(--clr-light-gray);
}

/* 600px */
@media (min-width: 37.5rem) {
  .button {
    margin-top: 2.5rem;
  }
}

/* 800px */
@media (min-width: 50rem) {
  body {
    padding: 12rem 1.5rem 5.5rem 1.5rem;
  }

  .card {
    max-width: var(--max-width-desktop);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .button {
    margin-top: 3.75rem;
  }
}